# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
game/[Ll]ibrary/
game/[Tt]emp/
game/[Oo]bj/
game/[Bb]uild/
game/[Bb]uilds/
game/[Ll]ogs/
game/[Uu]ser[Ss]ettings/
game/[Mm]emoryCaptures/
game/[Rr]ecordings/
game/[Aa]ssets/Plugins/Editor/JetBrains*
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties
game/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
game/[Aa]ssets/[Ss]treamingAssets/aa.meta
game/[Aa]ssets/[Ss]treamingAssets/aa/*